<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARTELERA</title>

    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/modules/layout.js"></script>
</head>
<body onload="layout.render()">

<div class="carteleraContenedor">

    <div id="header" class="header"></div>

    <div id="cartelera" class="cartelera">
        <h1 class="carteleraTitulo">CARTELERA</h1>
    </div>

    <div id="footer" class="footer"></div>

</div>

<script type="module" src="../js/renderCartelera.js"></script>
</body>
</html>