<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIMEINN</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/modules/layout.js"></script>
</head>
<body onload="layout.render()">

<div class="contenedorPadre">
    <div class="header"></div>
    <div class="video"></div>
    <div class="novedades"></div>
    <div class="promociones"></div>
    <div class="calendario"></div>
    <div class="footer"></div>
</div>

<script type="module" src="../js/script.js"></script>
</body>
</html>