<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIMEINN</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/modules/layout.js"></script>
</head>
<body onload="layout.render()">

<div class="contenedorPadre">
    <div id="header" class="header"></div>
    <div class="video"></div>
    <div id="novedades" class="novedades">
        <h1 class="novedadTitulo">NOVEDADES</h1>
    </div>
    <div id="promociones" class="promociones">
        <h1 class="promocionesTitulo">PROMOCIONES</h1>
    </div>
    <div class="calendario"></div>
    <div id="footer" class="footer"></div>
</div>
<script type="module" src="../js/script.js"></script>
</body>
</html>