:root {
    --blanco: #ffffff;
    --negro: #000000;
    --gris-10: #777;
    --gris-20: #eee;
    --gris-30: #666;
    --gris-40: #ddd;
    --rojo-10: red;
}

/*MOBILE DESIGN*/
body {
    margin: 0;
}

/*HEADER*/
.header {
    grid-area: header;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo > a > img {
    width: 30vh;
    height: 10vh;
    margin-left: 1vh;
}

.bar-menu {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
}

.menu {
    display: none;
    background-color: black;
    width: 35vh;
    position: fixed;
    height: 100%;
    right: 0;
}


.fa-bars:before {
    content: "\f0c9";
    font-size: 5vh;
    color: white;
}

#hamburger {
    background-color: black;
    border: none;
}

.menu > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1vh;

}

.menu > ul > button {
    display: flex;
    padding: 2vh;
    background-color: black;
    border: none;
}

.menu > ul > button > a {
    text-decoration: none;
    font-family: 'Carrois Gothic SC', cursive;
    font-size: 1.2rem;
    color: white;
}

.menu button.active {
    background-color: #04AA6D;
    color: white;
}

.menu button:hover:not(.active) {
    background-color: #555;
    color: white;
}

#x {
    display: none;
    color: white;
    background-color: black;
    border: none;
    font-size: 5vh;
}

/*CONTENEDOR*/
.contenedorPadre {
    font-weight: bold;
    display: grid;
    /*grid-template-rows: 10% 20% 30% 25% 25%;*/
    grid-row-gap: 10vh;
    grid-template-areas:
        "header"
        "video"
        "novedades"
        "promociones"
        "calendario"
        "footer";
    font-family: 'Carrois Gothic SC', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

/*VIDEO*/
.video {
    grid-area: video;
    overflow-x: hidden;
    margin-top: 5%;
}

/*NOVEDADES*/
.novedades {
    grid-area: novedades;
}

.cartas-novedades {
    display: flex;
    flex-direction: column;
}

.cartas-novedades .novedad {
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 1%;
    /*padding-top: 10px;*/
    text-align: center;
    transition: all 0.25s;
}

.cartas-novedades .novedad:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*SOLO FUNCIONA EN MODO DESKTOP*/

.cartas-novedades .novedad img {
    margin: 0;
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.novedad > h2, .promocion > h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

.cartas-novedades .novedad p {
    font-size: 1rem;
    padding: 2px;
}

/*PROMOCIONES*/
.promociones {
    grid-area: promociones;
    align-self: center;
}

.cartas-promociones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: promociones;
    justify-content: center;
}

.promocion {
    width: 300px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    padding-top: 10px;
    text-align: center;
    transition: all 0.25s;
}

.promocion:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.promocion img {
    margin: 0;
    height: 60px;
}

/*CALENDARIO*/
.calendario {
    grid-area: calendario;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.month {
    background-color: var(--negro);
    text-align: center;
    color: var(--blanco);
}

.month > h3 {
    align-self: center;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: var(--gris-40);
}

.weekdays > li {
    display: inline-block;
    width: 13.6%;
    color: var(--gris-30);
    text-align: center;
    font-size: 20px;
}

.days {
    padding: 10px 0;
    background: var(--gris-20);
    margin: 0;
    font-size: 40px;
}

.days > li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    color: var(--gris-10);
    font-size: 20px;
}

.days > li .active {
    padding: 5px;
    background-color: var(--negro);
    color: var(--blanco);
}

/*FOOTER*/
.footer {
    display: grid;
    background-color: var(--negro);
    color: white;
    margin-top: 2%;
    grid-area: footer;
}

.footer-fields {
    display: none;
    flex-direction: column;
}

.footer-bar > button {
    border: none;
    background-color: black;
    color: var(--blanco);
    font-size: 4vh;
}

.footer-bar {
    display: flex;
}

.footer > div {
    margin: 3%;
}

.col-1-title {
    font-weight: bolder;
}

.col-1-content {
    font-size: small;
}

.col-2, .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2vh;
    margin-top: 2vh;
}

.col-2 > input[type="button"], .col-3 > input[type="button"] {
    display: flex;
    border: none;
    background-color: black;
    color: white;
}

.col-3-metodosPago, .col-2-redesSociales {
    display: flex;
    column-gap: 2vh;
    font-size: 4vh;
    margin-left: 2vh;
}

.col-2-redesSociales > img, .col-3-metodosPago > img {
    width: 7%;
    background: white;
    border-radius: 45%;
    margin: 2%;
}

/*SCROLL*/

.scroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 99;
    font-size: 18px;
    text-transform: uppercase;
    outline: none;
    padding: 22px;
    border-radius: 4px;
    border: 2px var(--negro) solid;
}

.scroll:hover {
    background: var(--gris-30);
    border: 2px var(--blanco) solid;
    transition: 0.5s;
}

/*SUSCRIPCION*/
.suscripcion {
    display: none;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 23%;
    position: fixed;
}

.form-sub {
    background: var(--blanco);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 1% 5% 5%;
    padding: 20%;
}

.suscripcion-mostrar {
    display: flex;
    pointer-events: auto;
}

#add {
    display: none;
}

#submit {
    display: flex;
}


/*CARTELERA*/

 .cartelera {
     display: grid;
     grid-template-columns: 100%;
     justify-items: center;
     font-family: 'Carrois Gothic SC', sans-serif;
     gap: 1vh;
 }

 .carteleraTitulo {
     margin-top: 15vh;
     font-size: 8vh;
 }

.pelicula {
    justify-content: center;
    border-radius: 10px;
    background: var(--negro);
    display: flex;
    overflow: hidden;
    margin: 2px;
    width: 75%;
    color: white;
    padding: 2vh;
    flex-direction:column;
}

.add-button {
    position: fixed;
    bottom: 20vh;
    outline: none;
    padding: 22px;
    border-radius: 4px;
    border: 2px var(--negro) solid;
    right: 0;
}

 .fa-plus-square:before {
     content: "\f0fe";
     font-size: 20px;
 }

.add-button:hover{
    background: var(--gris-10);
    border: 2px var(--blanco) solid;
    transition: 0.5s;
}

#add-button{
    font-size: 2vw;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container > img {
    width: 35vh;
    height: 50vh;
    margin: 10px;
    box-shadow: 0 0 5px 2px var(--gris-40);
    border-radius: 5px;
}

.text-content {
    margin-left: 5%;
}

.titulo-pelicula{
    font-size: 2rem;
    margin-bottom: 0;
}

.subtitulo-pelicula {
    font-size: 1rem;
    color: var(--gris-40);
}

.horarios {
    gap: 10%;
    font-weight: bold;
}

.horarios > button {
    background: green;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    color: var(--blanco);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10%;
}

.horarios > button:hover {
    background: var(--blanco);
    color: var(--negro);
    transform: translateY(2px);
    transition: 0.3s;
}

.ediciones {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.edicion{
    background: var(--gris-30);
    width: 10vh;
    font-size: 20px;
    padding: 1%;
    margin: 1%;
    font-weight: bold;
    border: 2px var(--blanco) solid;
    color: var(--blanco)
}

.edicion:hover{
    background: var(--blanco);
    color: var(--negro);
    border: 2px var(--gris-30) solid;
    transition: 0.3s;
}

/* VENTANA EDICIÓN*/
.modal-contenedor{
    display: none;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    top: 40px;
    right: 8%;
    position: fixed;
}

.modal-edicion{
    background: var(--blanco);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20%;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% 5%;
    align-content: center;
    gap: 1vh;
    font-weight: bold;
    opacity: 1;
}

#form > input {
    /* height: 5vh; */
    font-size: 1rem;
    border-radius: 10px;
/* border: 1px black solid;*/
}

#form > input:hover{
background: var(--gris-10);
transition: 0.4s;
}

#form > button {
background: var(--negro);
color: var(--blanco);
border-radius: 10px;
font-size: 1.2rem;
border: 2px black solid;
}


#form > button:hover{
background: var(--blanco);
color: var(--negro);
transition: 0.4s;
}

.cerrar-boton {
display: flex;
flex-direction: row-reverse;
    margin: -30px;
}

.opacidad-fondo {
background-color: rgba(0,0,0,0.6);
filter: blur(8px);
}

.boton-cerrar {
background: transparent;
font-size: 4vh;
border-radius: 10px;
border: none;
}

.boton-cerrar:hover{
    background: var(--rojo-10);
    transition: 0.4s;
}

.mostrar {
    pointer-events: auto;
    display: block;
}

#form > input[type="file"]{
    margin-left: 1px;
}

@media only screen and (min-width: 600px) {

    /*HEADER*/
    .header {
        grid-area: header;
        overflow: hidden;
        top: 0;
        width: 100%;
        position: unset;
    }

    .header > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .logo > a > img {
        width: 50vh;
        height: 20vh;
    }

    .bar-menu {
        display: flex;
        background-color: white;
        position: unset;
        align-items: start;
    }

    .menu > ul > button {
        padding: 0;
        justify-content: center;
    }

    .menu {
        display: flex;
        background-color: black;
        width: 35vh;
        position: unset;
        height: 100%;
    }

    #hamburger {
        display: none;
    }

    .menu > ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 1vh;
        gap: 10vh;
        align-items: center;
        justify-content: center;
        /* width: 10vh; */
        height: 5vh;
    }

    .menu > ul > button > a {
        color: var(--blanco);
        text-decoration: none;
        letter-spacing: 0.15em;
        padding: 10px 10px;
        position: relative;
    }

    .menu > ul > button > a:after {
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .menu > ul > button > a:hover:after {
        width: 100%;
        left: 0;
        height: 5%;
    }

    /*VIDEO*/
    .video {
        width: 100%;
        margin-top: 5%;
    }

    /*NOVEDADES*/
    .cartas-novedades {
        justify-content: space-between;
    }

    .cartas-novedades .novedad {
        width: 250px;
        height: 430px;
        overflow: hidden;
    }

    /*NOVEDADES*/
    .novedades {
        grid-area: novedades;
    }

    .cartas-novedades {
        display: flex;
        flex-direction: row;
    }

    /*PROMOCIONES*/
    .promociones {
        grid-area: promociones;
        /*align-self: center;*/
    }

    .cartas-promociones {
        display: flex;
        flex-direction: row;
        grid-area: promociones;
    }

    /*CARTELERA*/
    .cartelera {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        font-family: 'Carrois Gothic SC', sans-serif;
        gap: 1vh;
    }

    .pelicula {
        border-radius: 10px;
        background: var(--negro);
        display: flex;
        flex-direction: row;
        overflow: hidden;
        margin: 2px;
        color: white;
    }

    .img-container > img {
        width: 230px;
        height: 340px;
        margin: 10px;
        box-shadow: 0 0 5px 2px var(--gris-40);
        border-radius: 5px;
    }

    .text-content {
        width: 75%;
    }

    .subtitulo-pelicula {
        font-size: 1rem;
        color: var(--gris-40);
    }

    .horarios {
        display: flex;
        justify-content: flex-start;
    }

    .ediciones {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /*VENTANA DE EDICIÓN*/
    .modal-contenedor{
        display: none;
        pointer-events: none;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 35%;
        position: fixed;
    }

    .modal-edicion{
        background: var(--blanco);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin: 5%;
        margin-top: 1%;
        padding: 20%;
        width: 70vh;
        height: 70vh;

    }

    #form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 1vh;
        font-weight: bold;
        padding: 20% 5% 5%;
        opacity: 1;
    }

    #form > input {
        height: 5vh;
        font-size: 1.2rem;
        border-radius: 10px;
        border: 2px black solid;
        width: 50vh;
    }

    #form > input:hover{
        background: var(--gris-10);
        transition: 0.4s;
    }

    #form > button {
        background: var(--negro);
        color: var(--blanco);
        border-radius: 10px;
        height: 20%;
        font-size: 1.2rem;
        border: 2px black solid;
    }

    #form > button:hover{
        background: var(--blanco);
        color: var(--negro);
        transition: 0.4s;
    }

    .cerrar-boton {
        display: flex;
        flex-direction: row-reverse;
    }

    .opacidad-fondo {
        background-color: rgba(0,0,0,0.6);
        filter: blur(8px);
    }

    .boton-cerrar {
        background: transparent;
        font-size: 4vh;
        border-radius: 10px;
        border: none;
    }

    .boton-cerrar:hover{
        background: var(--rojo-10);
        transition: 0.4s;
    }

    .suscripcion-mostrar{
        right: 38%;
        top: 20%;
    }

    /*FOOTER*/
    .footer-bar{
        display: none;
    }

    .footer-fields {
        display: grid;
        pointer-events: auto;
        grid-template-columns: 50% 25% 25%;
    }

    .footer {
        grid-area: footer;
    }
}