:root {
    --blanco: #ffffff;
    --negro: #000000;
    --gris-10: #777;
    --gris-20: #eee;
    --gris-30: #666;
    --gris-40: #ddd;
}

/*HEADER*/
.logo > img{
    width:297px;
    height:98px;
}
.menu {
    background-color: var(--negro);
    justify-content: center;
    height: 66px;
    margin-bottom: 2%;
}

/*
.menu > input[type="button"] {
    background-color: var(--negro);
    color: var(--blanco);
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Carrois Gothic SC',cursive;
}


}*/

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 9px;
    font-size: 1.3rem;
}

li {
    font-family: 'Carrois Gothic SC',cursive;
    color: var(--blanco);
    margin-left: 2rem;
    margin-right: 2rem;
}

a {
    color: var(--negro);
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after {
    width: 100%;
    left: 0;
    height:5%;
}


/*CONTENEDOR*/
.contenedorPadre{
    display: flex;
    flex-direction: column;
}

.contenedorPadre > h1{
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

/*NOVEDADES*/
.novedades{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /*justify-items: center;*/
}

.novedad{
    display: flex;
    flex-direction: column;
}

.novedad > p{
    text-align: -webkit-center;
    word-break: break-word;
}

.novedad > img {
    margin-left: 17%; /*justify items solo afecta a los das últimas cartas (?!)*/
}

.titulo, .year{
    font-weight: bold;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.year{
    margin-top: 0;
}

/*PROMOCIONES*/
.promociones{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20%;
    align-self: center;
}

.promocion > p{
    word-break: break-word;
}

/*CALENDARIO*/
.calendario {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: center;
}

.month {
    background-color: var(--negro);
    text-align: center;
    color: var(--blanco)
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: var(--gris-40);
}

.weekdays > li {
    display: inline-block;
    width: 13.6%;
    color: var(--gris-30);
    text-align: center;
}

.days {
    padding: 10px 0;
    background: var(--gris-20);
    margin: 0;
}

.days > li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: var(--gris-10);
}

.days > li .active {
    padding: 5px;
    background-color: var(--negro);
    color: var(--blanco);
}

/*FOOTER*/
.footer {
    display: grid;
    background-color: black;
    grid-template-columns: 40% 12% 14%;
    column-gap: 12%;
    color: white;
    margin-top: 2%;
}

.footer > div {
    margin: 3%;
}

.col-1-title {
    font-weight: bolder;
}

.col-1-content {
    font-size: small;
}

.col-2, .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.col-2 > input[type="button"], .col-3 > input[type="button"] {
    display: flex;
    border: none;
    background-color: black;
    color: white;
}

.col-3-metodosPago, .col-2-redesSociales {
    display: flex;
    justify-content: space-around;
    font-size: larger;
}

.col-2-redesSociales > img, .col-3-metodosPago > img {
    width: 7%;
    background: white;
    border-radius: 45%;
    margin: 2%;
}


