:root{
    --blanco: #ffffff;
    --negro: #000000;
}

.menu{
    display: flex;
    background-color: var(--negro);
    justify-content:center;
    height: 35px;
    margin-bottom: 2%;
}

.menu>input[type="button"]{
    background-color: var(--negro);
    color: var(--blanco);
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    font-size: large;
    font-weight: bolder;
}

